@{
    ViewBag.Title = "BaoMat";
    Layout = "~/Views/Shared/_UserLayout1.cshtml";
}
<div class="container">
    <h2 style="text-align:center; ">CHÍNH SÁCH BẢO MẬT </h2>
<p>
<span style="color:red; font-size:30px;">SÁCH BẢO HÀNH TRỌN ĐỜI</span> <br />
Mwc.com.vn luôn nỗ lực mang đến trải nghiệm mua sắm tuyệt vời dành cho phái đẹp từ sự đa dạng sản phẩm, mẫu mã thời thượng, cửa hàng hiện đại, sang trọng và những dịch vụ hậu mãi không ngừng được hoàn thiện. Theo đó, Mwc.com.vn đã cải tiến và áp dụng Chính sách bảo hành trọn đời dành cho tất cả khách hàng mua sắm tại các cửa hàng mwc.com.vn trên toàn quốc và mua online tại Mwc.com.vn
    <br /><br />
Điều kiện áp dụng:
    <br />
- Khách hàng vui lòng xuất trình phiếu bảo hành để được áp dụng chính sách bảo hành.
     <br />
- Sản phẩm được bảo hành miễn phí trong suốt thời gian sử dụng trong các trường hợp sau:
     <br /> <br />
1. Đối với khách hàng mua hàng online
     <br />
Quý khách có yêu cầu sửa chữa bảo hành có thể mang sản phẩm tới bất kỳ showroom chính hãng của hệ thống Mwc.com.vn để sử dụng dịch vụ.
     <br />
Mwc.com.vn chỉ bảo hành đối với các sản phẩm bị hư hỏng về mặt kĩ thuật như hở keo, sứt chỉ.
     <br /> <br />
2. Cửa hàng không bảo hành sản phẩm trong các trường hợp sau:
     <br />
Giày dép bị hư do lỗi quý khách gây ra như: trầy xước, mòn đế, nóng chảy, thú vật cắn,... <br />
Giày dép bị hao mòn tự nhiên trong quá trình sử dụng. <br />
Các loại đế PU tự hủy qua thời gian sử dụng, sản phẩm bị biến dạng hoặc không có phiếu bảo hành. <br />
Cửa hàng không nhận sửa chữa những sản phẩm quá cũ (da và đế bị lão hóa, không còn độ bám dính của keo,chỉ hoặc không còn phụ kiện thay thế) <br />
Khách hàng ở xa vui lòng thanh toán phí vận chuyển khi có nhu cầu bảo hành sản phẩm tại Mwc.com.vn <br />
     <br /> <br />
Mọi thắc mắc liên quan tới chính sách bảo hành sản phẩm xin vui lòng liên hệ: <br />
     <br /> <br />
- Hotline: 1900.63.33.49
     <br /> <br />
- Email: mwcshop.com.vn@gmail.com
     <br /> <br />
Bài viết liên quan <br />
BỘ SƯU TẬP GIÀY THỂ THAO NĂNG ĐỘNG CÙNG NÀNG ĐÓN GIÁNG SINH <br />
SALE LỚN ĐÓN LỄ- MUA NGAY KẺO TRỄ <br />
BÃO SALE ĐÓN GIÁNG SINH TỪ 10%-50% TẤT CẢ CÁC SẢN PHẨM <br />
TUYỂN TẬP ITEMS CAO GÓT #TÔN_DA_NỊNH_DÁNG ĐỈNH CAO CẦN CÓ TRONG TỦ GIÀY <br />
10 MẪU THỂ THAO ĐÁNG MUA TRONG MÙA HÈ NÀY <br />
</p>

</div>
