<span style="float:right">
    <a href="@Url.Action("GioHang","GioHang")" style="float:right">
         <img src="/images/cart.png" style="width:60px"/><span style="color:black">(@ViewBag.TongSoLuong)</span>
    </a>
</span>