@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center; font-size:50px; ">XÁC NHẬN ĐƠN HÀNG</h2>

<p style="text-align:center; font-size:30px;">Đơn hàng của quý khách đã được hệ thống ghi nhận, chúng tôi sẽ giao hàng đúng hạn!</p>

<center><a href="@Url.Action("GiayPartial", "Giay")"><button type="submit" class="btn btn-line-primary">Quay Về Trang Chủ</button></a></center>
<br /><br /><br />
