@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<center><h2 style="color:red">Thông Báo</h2>
</center>
<center><p style="color:red"    >Giỏ Hàng rỗng !!!</p></center>