@model DoAnWeb_MVC_ShopGiay.GIAY

@{
    ViewBag.Title = "ThongTinGioiThieu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align: center;">SHOE STORE - GIÀY THỂ THAO THỜI TRANG GIÁ TỐT</h2>
<div class="container-fluid">
    <div class="row offset-1">
        <div class="col-11">
            <br />
            <br />
            <p style="font-family: Arial; font-size: 20px;">Một danh nhân đã từng nói: “Một đôi giầy có thể thay đổi cuộc đời bạn”. Quả thật, một đôi giày tốt sẽ làm bạn thoải mái, một đôi giày đẹp sẽ khiến bạn tự tin. </p>
            <br />
            <p style="font-family: Arial; font-size: 20px;">
                Nếu đặt một đôi giày thể thao bện cạnh một đôi cao gót, các bạn nữ sẽ chọn đôi giầy cao gót để tôn dáng.
            <br />
                Nếu đặt một đôi giày thể thao bên cạnh một đôi giày da, giầy tây, các bạn nam công sở ắt hẳn sẽ không chọn giày thể thao.
            <br />
            </p>

            <p style="font-family: Arial; font-size: 20px;">
                Tuy nhiên, đẹp thì đẹp thật, nhưng lại không hữu dụng khi cần thiết, bạn sẽ không thể bảo vệ bạn chân khô ráo, vững vàng khi chạy vội trong mưa, bạn cũng sẽ không 
            thể thuận tiện chơi thể thao cùng sếp, cùng đồng nghiệp khi phải mang những đôi giày công sở đắt tiền mà lại còn sợ hỏng, cũng như khiến đôi chân bạn đau nhức không ngừng.
                <br />
                <br />

                Chọn giày cũng như chọn hành trình ta bước, một đôi giày thể thao tốt sẽ cho bạn thỏa sức khám phá và mạo hiểm, chạy nhảy và hoạt động cho cả ngày dài năng động mà 
            không biết mệt mỏi. Một đôi giày thể thao tốt sẽ luôn đồng hành cùng bạn trên mọi nẻo đường, cho dù có nắng nóng, mưa giông, nó cũng sẽ đi cùng bạn, chăm 
            sóc cho đôi chân bạn luôn khô ráo và thoáng mát.
                <br />
                <br />
                Một đôi giày thể thao đẹp sẽ giúp bạn tự tin dạo bước với bạn bè khi đi chơi, đi du lịch, giúp cuộc sống hằng ngày của bạn thêm vui vẻ và thành công đúng hem ạ.
                <br />
                <br />
                Nhưng làm sao để hữu một đôi giày thể thao giá rẻ vừa đẹp, vừa thời trang và chất lượng ???? Hãy cùng bước vào thế giới tổng quan của Tuloshop để trải nghiệm thử nhé ^_^
                <br />
                <br />
            </p>

            <p style="font-family: Arial; font-size: 20px;">
                <span style="font-weight: bold; font-size: 30px;">Bộ sưu tập giày thể thao đa dạng tại Shoe Store <br /></span>
                Shoes Store luôn cho rằng việc sỡ hữu một đôi giày thể thao vừa đẹp vừa thời trang sẽ mang lại sự trẻ trung, hiện đại và gu thời trang hợp mốt nhất cho các bạn trẻ mà vẫn không mất đi tính năng động, thể thao của nó. Vì vậy, các dòng giày tại TuloShop cung cấp luôn không ngừng đa dạng
Về thương hiệu giày.
                <br />
                Hiện tại Shop đang kinh doanh các mẫu giày hot nhất của các thương hiệu nổi tiếng như Adidas, Converse, Balenciaga, Vans, Fila, ... với chất lượng cải thiện liên tục để hoàn hảo nhất cho Quý khách hàng của mình.
                <br />
                Ngoài ra, Tuloshop vẫn luôn cập nhật thêm các mẫu mới nhất thị trường của nhiều thương hiệu nhằm mục đích đáp ứng nhu cầu sở hữu các đôi giày vip nhất của các bạn đam mê dòng giày sneaker nữa nhé.
            </p>

            <p style="font-family: Arial; font-size: 20px;">
                <span style="font-weight: bold; font-size: 30px;">Về kiểu dáng
                    <br />
                </span>
                Sản phẩm tại Shoes Store có rất nhiều kiểu dáng & mẫu mã khác nhau, đa dạng về chiều cao, màu sắc & nhu cầu sử dụng. Có nhiều bạn sẽ thích kiểu giày cổ cao, giày cổ thấp, hay chất liệu da trơn, da nhăn hoặc da lộn. Một số bạn thì lại thích vải mềm, họa tiết bông hoa hay vải lưới cho thoáng mát khi sử dụng trong vài giờ liên tục.
Hiểu được mục đích của các bạn trẻ hiện đại, Tuloshop luôn cập nhật đủ loại giày với đủ kiểu dáng, phong cách cá tính khác nhau để khi bạn tìm đến bạn sẽ tìm được cho mình những đôi giày tuyệt vời nhất trong tủ đồ của bạn.
            </p>
            <img src="/anhgioithieu/anh1.jpg" width="100%"/>
            <br /><br /><br />
             <img src="/anhgioithieu/anh2.jpg" width="100%"/>
            <p style="font-family: Arial; font-size: 20px;">
                <span style="font-weight: bold; font-size: 30px;">Về tính năng<br />
                </span>
                Tùy vào mục đích sử dụng của mỗi người mà mỗi loại giày thể thao có thể áp dụng cho nhiều trường hợp khác nhau:
                <br />

                Nếu bạn là người thích các hoạt động thể thao, tập thể dục, chạy bộ mỗi ngày thì các mẫu Alphabounce, Ultra boost sẽ là sự lựa chọn tuyệt vời nhất - "Theo phản hồi của những khách đã mua hàng tại Tuloshop".
Còn đối với những bạn chỉ cần đôi giày để đi chơi, đi dạo với bạn bè (thời gian sử dụng ngắn) thì Prophere, Balenciaga, Gucci, Vans hoặc Converse mang phong cách tối giản nhưng không kém phần sang trọng có thể làm hài lòng bạn.
Riêng các bạn học sinh thường chọn cho mình những mẫu giày trắng (hình như do quy định của nhà trường thì phải ^_^) thì sẽ rất thích các mẫu giày Stan Smith, McQueen với form giày rất chuẩn, bền đẹp dù sử dụng lâu dài.
Ngoài các tính năng mà Tuloshop liệt kê ở trên thì vẫn sẽ có nhiều bạn có những nhu cầu sử dụng khác nữa. Nếu bạn vẫn đang loay hoay chưa lựa chọn được mẫu giày nào phù hợp với mình thì bạn có thể liên hệ với số Hotline 0961042098 hoặc inbox https://www.facebook.com. Đội ngũ nhân viên sẽ tận tình giải đáp và tư vấn mẫu giày tốt nhất cho Quý khách ạ.
            </p>

            <br /><br />

            <p style="font-family: Arial; font-size: 20px;">
                <span style="font-weight: bold; font-size: 30px;">Về giới tính<br />
                </span>
                Thường thì các mẫu mà Tuloshop về hàng luôn đáp ứng đủ size cho giày nam & giày nữ. Tuy nhiên, sẽ có các trường hợp chỉ áp dụng được cho giới tính nam hoặc nữ:
Giày thể thao nữ thường sẽ chọn các màu nhẹ nhàng như giày hồng, xanh dương, xanh mint, trắng, màu vàng hoặc màu kem. Các bạn cá tính hơn sẽ chọn cho mình màu đỏ, đen trắng, xám, ...
Giày thể thao nam luôn mang phong cách mạnh mẽ, năng động. Chính vì thế mà màu đen full, đen trắng, xám bạc, rêu olive luôn được các bạn nam lựa chọn.

            </p>
            <br /><br />


            <p style="font-family: Arial; font-size: 20px;">
               <span style="font-weight: bold; font-size: 30px;">
                   Giá cả cực ưu đãi & cạnh tranh nhất thị trường. <br />
    
               </span> 
                 Bên cạnh đó, TuloShop luôn đặt mình vào tâm lý và quyền lợi của khách hàng để cập nhật những mẫu giày thể thao chất lượng tốt nhất mà vẫn đáp ứng tính thời trang, mẫu mã đẹp & mới nhất theo xu hướng. Điều đặc biệt là không thua kém gì hàng chính hãng nhưng giá cả vẫn cực kì hấp dẫn, bao sập sàn so với các shop khác.
            </p>

           

        </div>
    </div>
</div>
