@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <h1>Tư vấn một số điểm cần lưu ý khi chọn giày</h1>
    <p>– Mua giày lúc cuối ngày, khi chân bạn thường to hơn các thời điểm khác trong ngày</p>
    <br />
    <p>– Đừng bao giờ căn cứ vào size mà phải thử thật kỹ. Cách chọn size thường khác nhau tuỳ vào hiệu và kiểu mẫu</p>
    <br />
    <p>– Sau khi mang giày vào, bạn hãy đứng dậy. Từ ngón chân cái dài nhất đến mũi giày cần phải có một khoảng cách bằng với chiều rộng của móng tay cái. Nếu mũi giày càng nhọn thì khoảng cách này nên rộng hơn một chút</p>
    <br />
    <center><p><img src="/images/tuvan1.jpg"/></p></center>
    <p>– Phải thử cả hai chiếc vì chiếc này có thể vừa nhưng chiếc kia thì không</p>
    <br />
    <p>– Đừng ngại, nên đi bộ quanh cửa hiệu vài vòng để đảm bảo rằng đôi giày của bạn vừa với chân</p>
    <br />
    <p>– Đừng cho rằng giày sẽ giãn ra. Dù bằng da hay bằng nhựa, độ co giãn là không đáng kể.</p>
    <br />
    <p>– Bảo đảm rằng đế giày thật bằng phẳng. Có thể có những lỗi nhỏ trong khâu sản xuất mà bạn không để ý.</p>
    <br />
    <p>– Chọn miếng đệm gót giày thật tốt để giảm sự di chuyển của gót khi giày chạm đất</p>
    <br />
    <p>– Thử uốn cong một cách tự nhiên ở phần rộng nhất của giày. Nó cần đủ dẻo đểđảm bảo sự cử động của ngón chân</p>
    <br />
    <hr />
    <h5>Liên Hệ</h5>
    <p>Khách hàng có thể liên hệ với shop mình tại các kênh sau:</p>
    <br />
    <p>&nbsp * Hotline: 0396359345</p>
    <p>&nbsp * Zalo: <a href="https://chat.zalo.me/">Công Hậu</a></p>
    <p>&nbsp * Facebook: <a href="https://www.facebook.com/conghau0112/">Trương Công Hậu</a></p>
    <br />
    <p>Mọi thắc mắc sẽ được giải đáp ngay lập tức.</p>
    <br />
    <center><h5>Cảm ơn khách hàng đã đồng hành cùng Giày Nation</h5></center>
</div>

