@{
    ViewBag.Title = "TuVan1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <h1>Những tư vấn hữu ích khi lựa chọn giày dép</h1>
<br />
<h5>Chọn mũi giày hở hay kín: Đừng giam hãm đôi bàn chân bó hết các ngón lại với nhau nếu bạn không muốn mình được ăn món “xúc xích chân” ngay ngày đầu tiên xài giầy cao gót. Có thể chọn..</h5>
<br />
<p>1- Chiều cao tối đa của gót giày bao nhiêu là tuỳ thuộc ở bạn: Nếu chưa quen với giày cao gót, hãy bắt đầu với độ cao 7,6 – 10 cm để không thấy mình lúc nào cũng chênh vênh, chới với trước mặt người khác hoặc người khác nghĩ mình diễn xiếc.</p>
<br />
<center><p><img src="/images/tuvan.jpg"/></p></center>
<br />
<p>2- Chọn cỡ giày phù hợp: Khi đi giày cao gót từ 5 cm trở lên bàn chân đã có xu hướng đẩy về trước mũi giày. Nếu không chắc chắn về kích cỡ có thật của mình, hãy đo chính xác cỡ chân. Nên chọn đôi giày rộng hơn cỡ bạn thường đi một chút để tránh cho ngón chân cái bị sưng như củ hành.</p>
<br />
<p>Công thức hợp lý là: gót cao từ 5 – 9 cm: chọn giày rộng hơn nửa cỡ chân 1 cỡ, từ 15 cm trở lên; chọn giày rộng hơn chân một cỡ rưỡi.</p>
<br />
<p>3- Chọn mũi giày hở hay kín: Đừng giam hãm đôi bàn chân bó hết các ngón lại với nhau nếu bạn không muốn mình được ăn món “xúc xích chân” ngay ngày đầu tiên xài giầy cao gót. Có thể chọn loại mũi hở, vừa điệu đà, thoải mái tự tin hơn khi các ngón chân được thả sức khoe màu móng.</p>
<br />
<p>4- Tập đứng: Rất nhiều người lúng túng khi thường xuyên không đi giày cao gót tới 15 cm. Cái cảm giác chênh vênh sẽ qua nhanh nếu bạn tập đứng trên giày cao gót khoảng 10 – 15 cm phút mỗi ngày để chân làm quen với giày và cũng nhẹ nhàng kéo giãn giày theo form bàn chân của bạn.</p>
<br />
<p>5- Tập đi: Tất nhiên là cho người mới hoặc không thường xuyên diện giày cao gót thôi. Việc tập đi bộ bằng giày cao gót 20 phút mỗi ngày (nên vào buổi tối) không chỉ giúp bàn chân mà toàn cơ thể bạn làm quen với giày. Bước nhỏ, bước sải chân rõ ràng, tăng dần thời gian đi bộ quanh nhà. Dù đã quen song chỉ đi giày cao gót trong khoảng thời gian không quá bốn tiếng mỗi ngày để tránh đến những ảnh hưởng tới sức khoẻ đôi chân.</p>
<br />
<p>6- Một cách chọn giày đơn giản!</p>
<br />
<p>Bạn đã hài lòng vì đã chọn được đôi giày ưng ý: kiểu, màu, chất liệu, gót, giá… đều tuyệt. Nhưng có thể vẫn chưa ổn. Giày không chỉ là một vật dụng thời trang, giày bảo vệ những bộ phận phải làm việc vất vả của cơ thể bạn: bàn chân, đầu gối và lưng. Nên nhớ là một người có thể đi bộ khoảng 250.000 – 300.000km trong đời. Một đôi giày có thể ảnh hưởng đến sức khoẻ và sự thoải mái của bạn trong thời gian dài.</p>
<br />
<hr />
<h5>Liên Hệ</h5>
    <p>Khách hàng có thể liên hệ với shop mình tại các kênh sau:</p>
    <br />
    <p>&nbsp * Hotline: 0396359345</p>
    <p>&nbsp * Zalo: <a href="https://chat.zalo.me/">Công Hậu</a></p>
    <p>&nbsp * Facebook: <a href="https://www.facebook.com/conghau0112/">Trương Công Hậu</a></p>
    <br />
    <p>Mọi thắc mắc sẽ được giải đáp ngay lập tức.</p>
    <br />
    <center><h5>Cảm ơn khách hàng đã đồng hành cùng Giày Nation</h5></center>
</div>